@import url(https://db.onlinewebfonts.com/c/1d4a19be544417215265a95523bb58c2?family=Cotoris);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #5b0017;
  font-family: "Cotoris";
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0 8rem;
  padding-block-start: 2.6rem;
}

.logo img {
  height: 70px;
  margin: 0 0 1.4rem .8rem;
}

.logo+div img {
  height: 50px;
}

:is(nav, ul) {
  display: flex;
  gap: 4rem;
}

:is(nav, ul) li {
  list-style: none;
  padding-block-start: 1.8rem;
}

:is(nav, ul, li) a,
.book-btn {
  text-decoration: none;
  font-size: 2.4rem;
  color: #fff;
  transition: all .3s ease-in-out;
}

:is(nav, ul, li) a:hover {
  color: #cc9d2f;
}

:is(nav, ul, li) a:active {
  opacity: .7;
}

header section {
  margin-block-start: 1.8rem;
}

.book-btn {
  background-color: #cc9d2f;
  color: #5b0017;
  /* font-weight: 600; */
  text-transform: capitalize;
  padding: .8rem 1rem;
  position: relative;
}

.btn-icon {
  height: 54px;
  position: absolute;
  bottom: -4px;
  right: -25px;
}

.book-btn:hover {
  color: #fff;
}