    @import url('https://db.onlinewebfonts.com/c/1d4a19be544417215265a95523bb58c2?family=Cotoris');
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;800;900&display=swap');

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    html {
      font-size: 62.5%;
    }

    body {
      background-color: #5b0017;
      font-family: "Cotoris";
    }

    header {
      display: flex;
      justify-content: space-between;
      margin: 0 8rem;
      padding-block-start: 2.6rem;
      position: relative;
      z-index: 10;
    }

    .logo img {
      height: 70px;
      margin: 0 0 1.4rem .8rem;
    }

    .logo+div img {
      height: 50px;
    }

    header nav ul {
      display: flex;
      gap: 4rem;
    }

    header nav ul li {
      list-style: none;
      padding-block-start: 1.8rem;
    }

    header nav ul li a,
    .book-btn {
      text-decoration: none;
      font-size: 2.4rem;
      color: #fff;
      transition: all .3s ease-in-out;
    }

    header :is(nav,
      ul,
      li) a:hover {
      color: #cc9d2f;
    }

    header nav ul li a:active {
      opacity: .7;
    }

    header section {
      margin-block-start: 1.8rem;
    }

    .book-btn {
      background-color: #cc9d2f;
      color: #5b0017;
      text-transform: capitalize;
      padding: .8rem 1rem;
      position: relative;
      transition: all .3s ease-in-out;
    }

    .btn-icon {
      height: 54px;
      position: absolute;
      bottom: -4px;
      right: -25px;
    }

    .book-btn:hover,
    .dining-container a:hover,
    .our-menu-content a:hover {
      color: #fff;
    }

    .book-btn:active,
    .dining-container a:active,
    .our-menu-content a:active {
      opacity: .6;
    }

    .rectangle-bg {
      width: 600px;
      position: absolute;
      top: 0;
      left: 7.8rem;
    }

    .homepage {
      display: flex;
      justify-content: space-between;
      margin-inline: 8rem;
      margin-block-start: 5rem;
      position: relative;
    }

    .homepage-text {
      position: absolute;
      top: 6rem;
    }

    .intro-wrapper {
      background-color: #5b0017a6;
      padding-block-end: 1.4rem;
    }

    .homepage-text h2 {
      width: 800px;
      color: #fff;
      font-size: 10.6rem;
      font-weight: 500;
      line-height: 9rem;
    }

    .homepage-text p {
      width: 400px;
      color: #fff;
      font-family: 'Inter', sans-serif;
      font-size: 2rem;
      font-weight: 200;
      margin-block: 3rem;
    }

    .homepage-text a {
      display: inline-block;
      color: #cc9d2f;
      font-size: 2.4rem;
      text-transform: capitalize;
      text-decoration: none;
      border: 2px solid #cc9d2f;
      padding: .8rem 1.2rem;
      transition: all .3s linear;
    }

    .homepage a:hover {
      background: #cc9d2f;
      color: #fff;
    }

    .homepage-text a:active {
      opacity: .6;
    }

    .circled-vector {
      display: inline-block;
      position: absolute;
      bottom: -25%;
    }

    .homepage-img {
      width: 700px;
    }

    .flower {
      position: absolute;
      top: -2.8rem;
      right: -2.6rem;
    }

    .dining-wrapper {
      position: relative;
    }

    .dining {
      display: flex;
      gap: 7rem;
      margin-inline: 8rem;
      margin-block-start: 20rem;
      position: relative;
    }

    .dining>img {
      height: 580px;
    }

    .dining-container h2 {
      color: #fff;
      font-size: 6rem;
      font-weight: 500;
    }

    .dining-container p {
      color: #fff;
      font-family: 'Inter', sans-serif;
      font-size: 2rem;
      font-weight: 200;
      margin-block: 2rem 6rem;
    }

    .dining-container a,
    .our-menu-content a {
      display: inline-block;
      background-color: #cc9d2f;
      font-size: 2.4rem;
      border: none;
      color: #5b0017;
      text-decoration: none;
      text-transform: capitalize;
      margin-block-end: 5rem;
      margin-inline-start: .6rem;
      padding: .8rem 1rem;
      transition: all .3s ease-in-out;
      position: relative;
    }

    .button-rec {
      height: 45px;
      position: absolute;
      left: -.6rem;
    }

    .inner-flex {
      display: flex;
      gap: 4rem;
    }

    .inner-flex img {
      width: 124px;
    }

    .dining-container::after {
      content: "";
      width: 32%;
      display: block;
      border-bottom: 2px solid #cc9d2f;
      position: absolute;
      bottom: 0;
    }

    .dining::after {
      content: "";
      height: 50px;
      width: 50px;
      display: block;
      border: 2px solid #cc9d2f;
      transform: rotate(45deg);
      position: absolute;
      right: 0;
      bottom: 0;
    }

    .rectangle-bg2 {
      width: 530px;
      position: absolute;
      top: -5rem;
      right: 0;
    }

    .testimonial-wrapper {
      display: flex;
      font-family: 'Inter', sans-serif;
      margin-inline: 8rem;
      margin-block: 15rem 8rem;
      position: relative;
    }

    .testimonial {
      background: #cc9d2f;
      padding-block: 8rem;
      padding-inline: 10rem 6rem;
    }

    article {
      width: 320px;
    }

    article>p {
      color: #243054;
      font-size: 1.8rem;
      line-height: 3rem;
      margin-block-end: 7rem;
      position: relative;
    }

    article>p img {
      position: absolute;
      left: -2rem;
      top: -1rem;
    }

    figure {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #00646D;
      padding-block-end: 1.5rem;
      position: relative;
    }

    figcaption p:first-of-type {
      color: #243054;
      font-size: 1.2rem;
      font-weight: 600;
      line-height: 2.4rem;
    }

    figcaption p:last-of-type {
      color: #243054;
      font-size: 1.1rem;
    }

    figure::before {
      content: "";
      display: block;
      width: 8%;
      border-top: 3px solid #243054;
      position: absolute;
      bottom: -.2rem;
    }

    .testimonial-icon {
      position: absolute;
      left: 0;
      bottom: 2.8rem;
    }

    .vid-img {
      height: 438px;
      width: 100%;
      object-fit: cover;
      object-position: top;
      position: relative;
      right: .1rem;
    }

    .testimonial-wrapper a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      width: 50px;
      background: #fff;
      border-radius: 50%;
      text-decoration: none;
      transition: all .3s ease-in-out;
      position: absolute;
      right: 28%;
      top: 50%;
    }

    .testimonial-wrapper a i {
      color: #000;
      font-size: 2.4rem;
    }

    .testimonial-wrapper a:hover {
      background: #000;
    }

    .testimonial-wrapper a:hover>i {
      color: #fff;
    }

    .our-menu-bg {
      background-image: url(./img/bg-image.png);
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
    }

    .our-menu-content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      min-height: 100vh;
    }

    .our-menu-content h2 {
      color: #fff;
      font-size: 6rem;
      font-weight: 500;
      text-align: center;
      max-width: 760px;
      margin-block-end: 5rem;
    }