  @import url('https://db.onlinewebfonts.com/c/1d4a19be544417215265a95523bb58c2?family=Cotoris');
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;800;900&display=swap');
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  
  html {
      font-size: 62.5%;
  }
  
  body {
      background-color: #5b0017;
      font-family: "Cotoris";
  }